{% extends "layout.html" %}
{% block body %}

<body>

    <div class="container">

        <a href="{{ url_for('att') }}"><div class="button">
<!--            <div><img src="money.png" alt="icon"></div>-->
        TAKE ATTENDANCE
        </div></a>

        <a href="{{ url_for('data') }}"><div class="button">
<!--        <div><img src="user.png" alt="icon"></div>-->
        VIEW ATTENDANCE
        </div></a>

    </div>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea unde eveniet recusandae illo quam officia ducimus esse, sed amet necessitatibus odit quisquam autem nobis nemo, id vel vero corrupti optio deserunt voluptate? Ea sapiente quo, neque doloribus natus minus provident perferendis harum fugiat architecto facilis, quis similique repellendus at in sed recusandae, voluptates deleniti excepturi quae odio vel sunt? Excepturi blanditiis odit accusamus, a neque quam, explicabo nam qui saepe perferendis culpa cupiditate quae dolor! Asperiores, sint. Neque eius aliquam tempore, quas voluptatum impedit illo exercitationem! Delectus necessitatibus sit doloribus provident in dolores illo, a asperiores, enim, accusantium laboriosam aut.
</body>

{% endblock %}